:focus {outline: none !important;}
::-moz-focus-outer, ::-moz-focus-inner {
    border: 0px !important;
    padding: 0;
}

html {
  background: #000000;
  font-family: "Courier", monospace;
  color:#8f8f8f;
  font-size: 20px;
}

html::-webkit-scrollbar {
  height: 25px;
  width: 5px;
  background-color: #000000;
}
html::-webkit-scrollbar-thumb {
  background-color: #007c0a;
}

body {
  margin: 0px;
}

article {
  min-height: 70vh;
}

form {
  margin: 50px auto 0;
  display: flex;
}

.container {
  max-width: 800px;
  margin: 50px auto 50px;
  word-wrap: break-word
}

.ql-editor {
  min-height: 70vh;
}
.container img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.errors {
  color: #e20000;
}

.timestamps {
  margin: 50px auto 50px;
}

.container a {
  color: #8f8f8f;
  -webkit-tap-highlight-color: #007c0a;
  text-decoration: underline solid #007c0a;
}
a:hover {
  color: #00e213;
  text-decoration: underline solid #00e213;
}

.container code,
.container pre {
  background-color: #000000;
  color: #007c0a;
  border: 2px solid #007c0a;
  white-space: pre;
  overflow: auto;
  margin: 0px;
  padding: 10px 13px;
  border-radius: 0px;
}

.container pre::-webkit-scrollbar {
  height: 25px;
  width: 5px;
  background-color: #000000;
}
.container pre::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #007c0a;
}

.publish_button,
.edit_button,
.custom_link_field,
.password_field {
  font: 20px "Courier", monospace;
  background-color: #000000;
  border: 2px solid #007c0a;
  color: #007c0a;
  padding: 10px 17px;
  text-decoration: none;
}

.publish_button,
.edit_button {
  cursor: pointer;
}

.custom_link_field,
.password_field {
  flex-grow: 1;
  min-width: 60px;
  margin-right: 5px;
}

a:focus,
.publish_button:focus,
.edit_button:focus,
.custom_link_field:focus,
.password_field:focus {
  border: 2px solid #00c010;
}